/* Réinitialisation des styles pour une mise en page de base */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    text-align: justify;
    text-justify: inter-word;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.header-left {
    text-align: left;
    margin-left: 10px;
}

header h1 {
    font-size: 2rem;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center ;
    max-width: 1340px;
    margin: auto;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-left: 20px;
}

.navbar li a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #13b356; /* Couleur de fond du bouton */
    color: #fff; /* Couleur du texte */
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.navbar ul li a:hover {
    background-color: #18920b;
}

.navbar ul li a:active {
    background-color: #045e07; /* Nouvelle couleur de fond lorsque le bouton est cliqué */
  }

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

.project h2{
    display: flex;
    background-color: #3dce2da4; /* Couleur de fond du bouton */
    color: #fff; /* Couleur du texte */
    text-decoration: none;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    align-items:center;
    justify-content: space-between;
}

.project h2 a img {
    height:30px;
    cursor: pointer;
    margin-left: auto;
}

.project {
    margin-bottom: 20px;
}

.read-more-btn {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

.hidden-description {
    display: none;
}

section h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

footer p {
    font-size: 0.8rem;
}

